.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
}

.wrapper > * {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  background-color: cadetblue;
  padding: 10px 0;
}

.box-1,
.box-7 {
  flex-basis: 66%;
  background-color: blueviolet;
  color: #fff;
}

.box-2,
.box-4,
.box-5,
.box-6,
.box-8 {
  flex-basis: 32%;
  background-color: coral;
}

.box-3 {
  flex-basis: 100%;
  background-color: khaki;
}
